scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 10s
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'nodeexporter'
    scrape_interval: 5s
    static_configs:
      - targets: ['nodeexporter:9100']

  - job_name: 'cadvisor'
    scrape_interval: 5s
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'snmp'
    scrape_interval: 5s
    static_configs:
      - targets: ['your_real_host_ip']
    metrics_path: /snmp
    params:
      module: [synology]
      auth: [snmpv3]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - source_labels: [__param_target]
        regex: (.*)
        replacement: snmp:9116
        target_label: __address__

  - job_name: 'speedtest'
    scrape_interval: 60m
    scrape_timeout:  60s
    metrics_path: /metrics
    static_configs:
      - targets: ['speedtest:9877']
